.container {
    width: 50%
}

.opacity-50 {
    opacity: 0.5;
}

.flex-btn {
    display: flex;
    justify-content: flex-end;
}

.ml-1 {
    margin-left: 1rem;
}

.mt-1 {
    margin-top: 1rem;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
